@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1920px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/****************************************:

nav

*****************************************:*/
/****************************************:

button

*****************************************:*/
/****************************************:

モーダル

*****************************************:*/
/****************************************:

パンくずリスト

*****************************************:*/
/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  margin: 20px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header_right {
  width: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_ttl {
  width: 200px;
  height: 40px;
  margin-right: 120px;
}

.header_logo {
  width: 200px;
  height: 40px;
}

.header_nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_link {
  margin-right: 30px;
  padding: 20px;
}

.reserve {
  margin: 0 20px 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.reserve_link {
  width: 170px;
  padding: 19px;
  margin-right: 20px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 0;
  background: #978F10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/****************************************:

fv

*****************************************:*/
.fv {
  width: 100%;
  height: 1079px;
  background: url("../img/top/mainbg01.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffffff;
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  z-index: -99;
}

.fv_ttl {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 282px 51px 0 0;
  line-height: 1em;
  letter-spacing: 0;
}

.fv_ttl2 {
  margin: 282px 508px 0 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 1em;
  letter-spacing: 0;
}

.fv_under {
  margin: 0 0 106px auto;
  background: url("../img/common/bg.jpg") center/cover no-repeat;
}

.fv_under .section_inner {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 681px;
}

.fv_under_ttl {
  margin: 64px 101px 0 33px;
  line-height: 1em;
  letter-spacing: 0;
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
}

.fv_under_ttl2 {
  margin: 149px 0 0 0;
  line-height: 1em;
  letter-spacing: 0;
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
}

.fv_under_wrap {
  margin: 150px 100px 0 308px;
}

.fv_under_txt.fv_txt, .fv_under_txt2.fv_txt, .fv_under_txt3.fv_txt {
  margin-left: 118px;
  line-height: 1.73em;
  letter-spacing: 0;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.fv_under_txt4 {
  margin-bottom: 120px;
  text-align: right;
}

.fv_under_list {
  list-style: none;
}

/****************************************:

section

*****************************************:*/
/****************************************:

footer

*****************************************:*/
/****************************************:

fv

*****************************************:*/
.menu_fv {
  width: 1920px;
  height: 500px;
  margin-bottom: 37px;
  background: url(../img/section-menu/menu-header.jpg) center/cover;
  position: relative;
}

.menu_ttl {
  color: #ffffff;
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu_pan {
  margin-bottom: 97px;
}

.menu_top_txt {
  margin-bottom: 78px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  text-align: center;
}

.menu_box {
  margin-bottom: 84px;
}

.menu_img {
  width: 525px;
  height: 300px;
  overflow: hidden;
}

.menu_txtBox {
  width: 813px;
  height: 381px;
  margin: -243px 0 0 367px;
  background: url(../img/common/bg.jpg);
}

.menu_txtBox_ttl {
  margin-left: 238px;
  margin-bottom: 52px;
  padding-top: 60px;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
  line-height: 2;
}

.menu_txtBox_txt {
  margin-left: 238px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 2;
}

._img_wrapper {
  margin: 0 0 0 auto;
}

._txt_wrapper {
  margin: -242px auto 0 0;
  padding: 0 274px 165px 0;
}

._txtBox_wrap {
  margin-left: 60px;
}

/****************************************:

section

*****************************************:*/
.room_header {
  height: 80px;
  background: #ffffff;
}

/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
.section_txt {
  margin-bottom: 135px;
  line-height: 2;
  text-align: center;
}

.room_mv {
  height: 500px;
  margin-bottom: 36px;
  background: url(../../img/section-oheya/oheya-header.jpg) center/cover;
  position: relative;
}

.room_txt {
  color: #ffffff;
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.room_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: bold;
}

.room_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 173px;
  display: flex;
}

.room_list:last-child {
  margin-bottom: 150px;
}

.room_list:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.room_img {
  height: 300px;
  width: 525px;
  margin-top: -57px;
  overflow: hidden;
}

.room_view {
  height: 381px;
  margin-bottom: 84px;
  padding-left: 80px;
  background: url(../../img/common/bg.jpg) center/cover;
}

.room_view_ttl {
  margin-top: 60px;
  margin-bottom: 52px;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
}

.room_view_txt {
  margin-bottom: 52px;
  line-height: 2;
}

.list {
  margin-bottom: 98px;
}

/****************************************:

section

*****************************************:*/
.plan {
  height: 775px;
  background: url(../../img/common/bg02.jpg) center/cover;
}

.plan_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 60px;
  padding-top: 60px;
}

.plan_box {
  margin-top: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan_boxImg {
  height: 209px;
  width: 331px;
  margin-bottom: 32px;
  overflow: hidden;
}

.plan_ttl {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 36px;
}

.plan_txt {
  line-height: 2;
}

/****************************************:

section

*****************************************:*/
.notice {
  margin-top: 60px;
  margin-bottom: 75px;
}

.notice_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 20px;
}

.notice_sales {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notice_sales_txt {
  margin-top: 46px;
  margin-right: 53px;
  margin-bottom: 64px;
}

.notice_sales_txt:last-child {
  margin-right: 0;
}

.notice_sales_txt:hover {
  text-decoration: underline;
}

.notice_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.notice_item {
  height: 130px;
  width: 570px;
  margin-left: 10px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.notice_item_img {
  height: 100px;
  width: 103px;
}

.notice_textbox {
  margin-left: 30px;
}

.notice_textbox_date {
  margin-bottom: 10px;
}

/****************************************:

section

*****************************************:*/
.access {
  height: 1381px;
  background: url(../../img/common/bg.jpg) center/cover;
}

.access_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 20px;
}

.access_box {
  margin-top: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.access_imgbox {
  height: 370px;
  width: 656px;
}

.access_textbox {
  margin-top: 20px;
  margin-left: 83px;
  text-align: left;
}

.access_txt {
  margin-bottom: 24px;
  font-weight: bold;
}

.access_map {
  display: block;
  margin: 69px auto 110px;
}

.footer_info {
  background: url(../../img/common/bg3.jpg) center/cover;
}

.footer_nav {
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer_nav_list {
  margin-top: 64px;
  margin-bottom: 96px;
}

.footer_nav_item {
  margin-left: 34px;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
}

.footer_nav_item:last-child {
  margin-left: 0;
}

.footer_logo {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
}

.footer_ttl {
  margin-bottom: 72px;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5.76px;
  line-height: 1.5;
}

.footer_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 23px;
  text-align: center;
}

.footer_box_post {
  margin-right: 21px;
}

.footer_box_address {
  letter-spacing: 2.88px;
}

.footer_box2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 61px;
}

.footer_box2_tel {
  margin-right: 20px;
}

.footer_copyright {
  height: 60px;
  background: #000000;
  text-align: center;
}

.footer_copyright_txt {
  padding-top: 23px;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  display: block;
}

/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
