@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1920px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/****************************************:

nav

*****************************************:*/
/****************************************:

button

*****************************************:*/
/****************************************:

モーダル

*****************************************:*/
/****************************************:

パンくずリスト

*****************************************:*/
/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

header

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
/****************************************:

footer

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
/****************************************:

fv

*****************************************:*/
/****************************************:

section

*****************************************:*/
.alter_header {
  width: 100%;
  height: 80px;
  background-color: #ccc;
}

/****************************************:

fv

*****************************************:*/
.ons_fv {
  width: 1920px;
  height: 500px;
  margin-bottom: 37px;
  background: url(../../img/section-onsen/onsen-header.jpg) center/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ons_ttl {
  color: #ffffff;
  font-size: 34px;
}

.ons_pan {
  margin-bottom: 97px;
}

.ons_top_txt {
  margin-bottom: 78px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.ons_imgTxt {
  margin-bottom: 84px;
}

.ons_imgBox {
  width: 525px;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.ons_txtBox {
  width: 813px;
  height: 381px;
  padding: 60px 127px 165px 238px;
  margin: -243px 0 0 367px;
  background: transparent url(../../img/common/bg.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ons_boxTtl {
  margin-bottom: 52px;
  font-size: 24px;
  line-height: 2;
}

.ons_txt {
  font-size: 16px;
  line-height: 2;
}

._imgBoxUnder {
  margin: 0 0 0 auto;
}

._txtBoxUnder {
  padding: 60px 209px 165px 60px;
  margin: -242px auto 0 0;
}

/****************************************:

section

*****************************************:*/
.ons_pan {
  font-size: 16px;
}
