@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1920px;
  opacity: 0.3;
  /* 反転 */
  filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.br_pc {
  display: block;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .br_pc {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .br_pc {
    display: none;
  }
}

/****************************************:

下層ページ用ヘッダー

*****************************************:*/
.header_row {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  color: #000000;
  font-weight: bold;
  background: #ffffff;
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  transition: .3s;
}

.header_row_left {
  width: 50%;
  display: flex;
  align-items: center;
}

.header_row_ttl {
  width: 200px;
  height: 40px;
  margin-right: 120px;
}

.header_row_nav_list {
  display: flex;
}

.header_row_nav_link {
  margin-right: 30px;
  padding: 10px;
  color: #000000;
}

.header_row_nav_link:last-of-type {
  margin-right: 0;
}

.reserve_row {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.reserve_row_link {
  width: 170px;
  padding: 19px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 0;
  color: #ffffff;
  background: #978F10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reserve_row_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/****************************************:

hamburger

*****************************************:*/
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
  .nav_ham {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 100;
  }
  .nav_ham.clicked {
    right: 40px;
  }
  .nav_hamspan {
    font-size: 1.1rem;
    position: absolute;
    top: -20px;
    left: -25px;
  }
  .nav_line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .nav_line:nth-child(1) {
    top: 0px;
  }
  .nav_line:nth-child(2) {
    top: 8px;
  }
  .nav_line:nth-child(3) {
    top: 16px;
  }
  .nav_line.clicked:nth-child(1) {
    transform: translateY(12px) rotate(-315deg);
    transition: .5s;
  }
  .nav_line.clicked:nth-child(2) {
    left: 0;
    transition: .9s;
    opacity: 0;
  }
  .nav_line.clicked:nth-child(3) {
    transform: translateY(-4px) rotate(315deg);
    transition: .5s;
  }
  .nav_item {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    line-height: 3;
    padding-right: 30px;
  }
  .nav_link {
    position: relative;
    display: block;
    letter-spacing: .2em;
    transition: .3s;
  }
  .nav_link::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform .7s;
    background: #ffffff;
  }
  .nav_link:hover::after {
    transform: scale(1, 1);
  }
  .nav_link:hover {
    color: #ffffff;
    letter-spacing: .5em;
    transition: .5s;
  }
}

/****************************************:

button

*****************************************:*/
/****************************************:

モーダル

*****************************************:*/
/****************************************:

パンくずリスト

*****************************************:*/
/****************************************:

footer

*****************************************:*/
.footer_info {
  background: url(../../img/common/bg3.jpg) center/cover;
}

.footer_nav {
  margin: 0 auto;
  writing-mode: vertical-rl;
}

.footer_nav_list {
  margin-top: 64px;
  margin-bottom: 96px;
}

.footer_nav_item {
  margin-left: 34px;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
}

.footer_nav_item:last-child {
  margin-left: 0;
}

.footer_logo {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
}

.footer_ttl {
  margin-bottom: 72px;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5.76px;
  line-height: 1.5;
}

.footer_box {
  display: flex;
  justify-content: center;
  margin: 0 auto 23px;
  text-align: center;
}

.footer_box_post {
  margin-right: 21px;
}

.footer_box_address {
  letter-spacing: 2.88px;
}

.footer_box2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 61px;
}

.footer_box2_tel {
  margin-right: 20px;
}

.footer_copyright {
  height: 60px;
  background: #000000;
  text-align: center;
}

.footer_copyright_txt {
  padding-top: 23px;
  color: #ffffff;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  display: block;
}

/****************************************:

各ページのスタイル読み込み

*****************************************:*/
/****************************************:

共通

*****************************************:*/
.__btn {
  border: 1px solid #000000;
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  padding: 20px;
  color: #ffffff;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  transition: .3s;
}

.header_left {
  width: 90%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .header_left {
    justify-content: space-between;
  }
}

.header_ttl {
  width: 200px;
  height: 40px;
  margin-right: 120px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .header_ttl {
    margin-right: 0px;
  }
}

.header_logo-b {
  display: none;
}

.header_nav_list {
  display: flex;
}

.header_nav_link {
  margin-right: 30px;
  padding: 10px;
  color: #ffffff;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .header_nav_link {
    font-size: 13px;
  }
}

.header_nav_link:last-of-type {
  margin-right: 0;
}

.reserve {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.reserve_link {
  width: 170px;
  padding: 19px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 0;
  background: #978F10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reserve_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header.fix {
  height: 80px;
  margin: 0;
  font-weight: bold;
  background: #ffffff;
  z-index: 999;
  position: fixed;
}

.header_logo-w.fix {
  display: none;
}

.header_logo-b.fix {
  display: block;
}

.header_nav_link.fix {
  color: #000000;
}

/****************************************:

fv

*****************************************:*/
.main_imgBox {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main_img {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  animation: anime 15s 0s infinite;
  -webkit-animation: anime 15s 0s infinite;
}

.main_img:nth-of-type(2) {
  animation-delay: 5s;
}

.main_img:nth-of-type(3) {
  animation-delay: 10s;
}

@keyframes anime {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  51% {
    opacity: 0;
    z-index: 3;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
  }
}

.fv {
  width: 100%;
  height: 100vh;
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  color: #ffffff;
  position: relative;
}

.fv_ttl {
  writing-mode: vertical-lr;
  position: absolute;
  top: 282px;
  right: 508px;
  z-index: 10;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .fv_ttl {
    right: 180px;
  }
}

.fv_ttl2 {
  writing-mode: vertical-lr;
  position: absolute;
  top: 282px;
  right: 608px;
  z-index: 10;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .fv_ttl2 {
    right: 280px;
  }
}

.fv_under {
  margin: 0 0 106px auto;
  background: url("../img/common/bg.jpg") center/cover no-repeat;
}

.fv_under .section_inner {
  height: 681px;
  writing-mode: vertical-rl;
}

.fv_under_ttl {
  margin: 64px 101px 0 33px;
  line-height: 1em;
  letter-spacing: 0;
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .fv_under_ttl {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
    margin-left: 20px;
  }
}

.fv_under_ttl2 {
  margin: 149px 0 0 0;
  line-height: 1em;
  letter-spacing: 0;
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .fv_under_ttl2 {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
}

.fv_under_wrap {
  margin: 150px 100px 0 308px;
}

.fv_under_txt.fv_txt, .fv_under_txt2.fv_txt, .fv_under_txt3.fv_txt {
  margin-left: 118px;
  line-height: 1.73em;
  letter-spacing: 0;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .fv_under_txt.fv_txt, .fv_under_txt2.fv_txt, .fv_under_txt3.fv_txt {
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
    margin-left: 50px;
  }
}

.fv_under_txt4 {
  margin-bottom: 120px;
  text-align: right;
}

.fv_under_list {
  list-style: none;
}

/****************************************:

section

*****************************************:*/
.top_about {
  margin-bottom: -44px;
}

.top_about_box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 122px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .top_about_box {
    display: block;
  }
}

.top_about_box:nth-child(even) {
  flex-direction: row-reverse;
}

.top_about_left {
  width: 55%;
  height: 545px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .top_about_left {
    width: 100%;
  }
}

.top_about_right {
  width: 30%;
  margin: 32px 0 0 137px;
  letter-spacing: 0;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .top_about_right {
    width: 80%;
    margin: 0 auto;
  }
}

.top_about_ttl {
  margin-bottom: 50px;
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  line-height: 1.5em;
}

.top_about_txt {
  margin-bottom: 75px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 2em;
}

.top_about_link {
  padding: 20px 40px;
  display: inline-block;
  line-height: 20px;
}

/****************************************:

section

*****************************************:*/
.plan {
  height: 775px;
  background: url(../../img/common/bg02.jpg) center/cover;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan {
    height: 2100px;
  }
}

.plan_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 60px;
  padding-top: 60px;
}

.plan_box {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan_box {
    display: block;
  }
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan_boxItem {
    width: 600px;
    margin: 0 auto;
  }
}

.plan_boxImg {
  height: 209px;
  width: 331px;
  margin-bottom: 32px;
  overflow: hidden;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan_boxImg {
    width: 100%;
    height: 350px;
  }
}

.plan_ttl {
  margin-bottom: 36px;
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  line-height: 1.6;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan_ttl {
    text-align: center;
  }
}

.plan_txt {
  line-height: 2;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .plan_txt {
    margin-bottom: 30px;
    font-size: 18px;
    /*IE9以前に対応する*/
    font-size: 1.125rem;
    text-align: center;
  }
}

/****************************************:

section

*****************************************:*/
.area ul {
  display: none;
}

.area ul.show {
  display: block;
}

.notice {
  height: 697px;
  margin-top: 60px;
  margin-bottom: 75px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .notice {
    height: 1100px;
  }
}

.notice_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 20px;
}

.notice_sales {
  display: flex;
  justify-content: center;
}

.notice_sales_txt {
  margin-top: 46px;
  margin-right: 53px;
  margin-bottom: 64px;
}

.notice_sales_txt:last-child {
  margin-right: 0;
}

.notice_sales_txt:hover {
  text-decoration: underline;
}

.notice_box {
  display: flex;
  flex-wrap: wrap;
}

.notice_item {
  height: 130px;
  width: 570px;
  margin-left: 10px;
  margin-bottom: 60px;
  display: flex;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .notice_item {
    margin-bottom: 20px;
  }
}

.notice_item_img {
  height: 100px;
  width: 103px;
}

.notice_textbox {
  margin-left: 30px;
}

.notice_textbox_date {
  margin-bottom: 10px;
}

/****************************************:

section

*****************************************:*/
.access {
  height: 1381px;
  background: url(../../img/common/bg.jpg) center/cover;
}

.access_logo {
  height: 40px;
  width: 40px;
  margin: 0 auto 20px;
}

.access_box {
  margin-top: 66px;
  display: flex;
}

.access_imgbox {
  height: 370px;
  width: 656px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .access_imgbox {
    margin-left: 20px;
  }
}

.access_textbox {
  margin-top: 20px;
  margin-left: 83px;
  text-align: left;
}

.access_txt {
  margin-bottom: 24px;
  font-weight: bold;
}

.access_map {
  display: block;
  margin: 69px auto 110px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .access_map {
    width: 700px;
  }
}

/****************************************:

footer

*****************************************:*/
/****************************************:

fv

*****************************************:*/
.common_fv {
  width: 100%;
  height: 580px;
  margin-bottom: 37px;
  background: url(../img/section-menu/menu-header.jpg) center/cover;
  position: relative;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_fv {
    width: 100%;
  }
}

.common_ttl {
  color: #ffffff;
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.common_pan {
  margin-bottom: 97px;
}

.common_top_txt {
  margin-bottom: 78px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_top_txt {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
}

.common_box {
  margin-bottom: 84px;
}

.common_img {
  width: 525px;
  height: 300px;
  overflow: hidden;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_img {
    width: 50%;
  }
}

.common_txtBox {
  width: 813px;
  height: 381px;
  margin: -243px 0 0 367px;
  background: url(../img/common/bg.jpg);
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_txtBox {
    width: 450px;
    height: 270px;
    margin: -160px 0 0 317px;
  }
}

.common_txtBox_ttl {
  margin-left: 238px;
  margin-bottom: 52px;
  padding-top: 60px;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
  line-height: 2;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_txtBox_ttl {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
    margin-left: 100px;
    margin-bottom: 20px;
    padding-top: 30px;
  }
}

.common_txtBox_txt {
  margin-left: 238px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 2;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .common_txtBox_txt {
    width: 320px;
    margin-left: 100px;
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
    line-height: 1.5;
  }
}

._img_wrapper {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  ._img_wrapper {
    margin: 0 0 0 380px;
  }
}

._txt_wrapper {
  margin: -242px auto 0 0;
  padding: 0 274px 165px 0;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  ._txt_wrapper {
    margin: -160px auto 0 0;
    padding: 0 150px 165px 0;
  }
}

._txtBox_wrap {
  margin-left: 60px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  ._txtBox_wrap {
    margin-left: 30px;
  }
}

/****************************************:

section

*****************************************:*/
/****************************************:

fv

*****************************************:*/
.mb52 {
  margin-bottom: 52px;
}

.note {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  line-height: 1.5;
}

.oheya_fv {
  width: 100%;
  height: 580px;
  margin-bottom: 37px;
  background: url(../../img/section-oheya/oheya-header.jpg) center/cover;
  position: relative;
}

.oheya_ttl {
  color: #ffffff;
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****************************************:

section

*****************************************:*/
.ons_mb {
  margin-bottom: 200px !important;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_mb {
    margin-bottom: 70px !important;
  }
}

.ons_flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
  .breadcrumbs_list {
    margin-left: 27px;
  }
}

.pan_li {
  margin: 0 20px 97px 0;
  position: relative;
}

.pan_li:nth-child(1)::after {
  content: ">";
  position: absolute;
  top: 0;
  right: -15px;
}

/****************************************:

fv

*****************************************:*/
@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .header_row {
    height: 70px;
  }
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .header_row_ttl {
    height: auto;
    margin-right: 30px;
    line-height: 20px;
  }
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .header_row_nav_item {
    margin-right: 9px;
  }
}

.row_body .header_row_nav_link {
  transition: .3s;
}

.row_body .header_row_nav_link:hover {
  color: #aaa;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .header_row_nav_link {
    width: 53px;
    padding: 0 !important;
    margin-right: 30px;
    display: block;
  }
}

.row_body .header_row_nav_link:last-of-type {
  margin-right: 0;
}

.row_body .reserve_row {
  height: 70px;
  padding-top: 5px;
}

.row_body .reserve_row_link {
  transition: .3s;
}

.row_body .reserve_row_link:hover {
  background-color: #a79F30;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .reserve_row_link {
    margin-right: 9px;
  }
}

.row_body .footer_nav_list {
  margin-top: 64px;
  margin-bottom: 96px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_nav_list {
    margin-top: 24px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_nav_list {
    margin-top: 19px;
    margin-bottom: 25px;
  }
}

.row_body .footer_nav_item {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_nav_item {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_nav_item {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
  }
}

.row_body .footer_logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_logo {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_logo {
    width: 30px;
    height: 30px;
  }
}

.row_body .footer_ttl {
  margin-bottom: 72px;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_ttl {
    margin-bottom: 27px;
    font-size: 23px;
    /*IE9以前に対応する*/
    font-size: 1.4375rem;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_ttl {
    margin-bottom: 25px;
    font-size: 21px;
    /*IE9以前に対応する*/
    font-size: 1.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_box {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
}

.row_body .footer_box2 {
  padding-bottom: 61px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_box2 {
    padding-bottom: 41px;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_box2 {
    padding-bottom: 35px;
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_copyright {
    height: 50px;
  }
}

.row_body .footer_copyright_txt {
  padding-top: 23px;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .row_body .footer_copyright_txt {
    padding-top: 23px;
    padding-bottom: 20px;
    font-size: 9px;
    /*IE9以前に対応する*/
    font-size: 0.5625rem;
  }
}

@media screen and (max-width: 480px) {
  .row_body .footer_copyright_txt {
    padding-top: 18px;
    padding-bottom: 15px;
    font-size: 9px;
    /*IE9以前に対応する*/
    font-size: 0.5625rem;
  }
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_main .section_inner {
    max-width: 677px;
  }
}

.ons_fv {
  width: 100%;
  height: 580px;
  margin-bottom: 37px;
  background: url(../../img/section-onsen/onsen-header.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_fv {
    height: 432px;
  }
}

@media screen and (max-width: 480px) {
  .ons_fv {
    height: 370px;
    margin-bottom: 27px;
  }
}

.ons_ttl {
  color: #ffffff;
  font-size: 34px;
}

.ons_pan {
  margin-bottom: 97px;
  font-size: 16px;
  font-weight: bold;
}

.ons_top_txt {
  margin-bottom: 78px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_top_txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .ons_top_txt {
    margin: 0 20px 60px;
    font-size: 12px;
  }
}

.ons_imgTxt {
  margin-bottom: 84px !important;
}

.ons_imgBox {
  width: 525px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_imgBox {
    width: 367px;
    height: 245px;
  }
}

@media screen and (max-width: 480px) {
  .ons_imgBox {
    width: 324px;
    height: 216px;
    margin: 0 auto;
  }
}

.ons_txtBox {
  width: 813px;
  height: 381px;
  padding: 60px 127px 165px 238px;
  margin: -243px 0 0 367px;
  font-weight: bold;
  background: transparent url(../../img/common/bg.jpg);
  box-sizing: border-box;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_txtBox {
    width: 439px;
    height: 260px;
    padding: 38px 20px 50px 143px;
    margin: -200px 0 0 246px;
  }
}

@media screen and (max-width: 480px) {
  .ons_txtBox {
    width: 324px;
    height: 240px;
    padding: 39px 26px 26px 39px;
    margin: -23px 0 0 30px;
  }
}

.ons_boxTtl {
  margin-bottom: 52px;
  font-size: 24px;
  line-height: 2;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_boxTtl {
    margin-bottom: 30px;
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .ons_boxTtl {
    margin-bottom: 20px;
    font-size: 17px;
  }
}

.ons_txt {
  font-size: 16px;
  line-height: 2;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_txt {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .ons_txt {
    font-size: 13px;
  }
}

.ons_effect {
  padding: 100px 0;
  margin-bottom: 100px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_effect {
    padding: 40px 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .ons_effect {
    padding: 30px 0;
    margin-bottom: 40px;
  }
}

.ons_effect_ttl {
  margin-bottom: 69px;
  font-size: 26px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_effect_ttl {
    margin-bottom: 49px;
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .ons_effect_ttl {
    margin-bottom: 23px;
    font-size: 18px;
  }
}

.ons_table {
  width: 880px;
  margin: 0 auto;
  font-weight: bold;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_table {
    width: 677px;
  }
}

@media screen and (max-width: 480px) {
  .ons_table {
    width: 88%;
  }
}

.ons_table_tr {
  text-align: left;
  font-size: 15px;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_table_tr {
    font-size: 13px;
  }
}

.ons_table_tr:nth-child(3) {
  border-bottom: 1px solid #ccc;
}

.ons_table_th {
  width: 187px;
  padding: 17px 125px 17px 0;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_table_th {
    width: 148px;
    padding: 13px 0 13px 15px;
  }
}

@media screen and (max-width: 480px) {
  .ons_table_th {
    width: 148px;
    padding: 13px 0 13px 15px;
    font-size: 13px;
  }
}

.ons_table_td {
  width: 660px;
  padding: 17px 0;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .ons_table_td {
    width: 650px;
  }
}

@media screen and (max-width: 480px) {
  .ons_table_td {
    width: 300px;
    font-size: 13px;
  }
}

._imgBoxUnder {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 480px) {
  ._imgBoxUnder {
    margin: 0 auto;
  }
}

._txtBoxUnder {
  padding: 60px 209px 165px 60px;
  margin: -242px auto 0 0;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  ._txtBoxUnder {
    width: 439px;
    height: 265px;
    padding: 40px 145px 39px 31px;
    margin: -200px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  ._txtBoxUnder {
    width: 324px;
    height: 240px;
    padding: 30px 26px 23px 39px;
    margin: -19px 0 0 30px;
  }
}

/****************************************:

section

*****************************************:*/
/****************************************:

modal

*****************************************:*/
body.modalin {
  overflow: hidden;
}

.container {
  position: relative;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
  display: none;
}

.modal.in {
  display: block;
}

.modal_inner {
  width: 550px;
  height: 600px;
  padding: 29px 60px 90px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .modal_inner {
    height: 500px;
    padding: 29px 60px 20px;
  }
}

.modal_eraseBox {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 35px;
  right: 22px;
  z-index: 10;
  cursor: pointer;
}

.modal_erase {
  width: 30px;
  height: 2px;
  background-color: #707070;
  transform-origin: 100% 0%;
  transform: translateX(-30%) rotate(-45deg);
}

.modal_erase:nth-child(2) {
  transform-origin: 0% 0%;
  transform: translateX(3%) rotate(45deg);
}

.modal_ttl {
  margin: 0 auto 30px;
  font-size: 20px;
  display: table;
}

.modal_txt {
  margin-bottom: 5px;
  font-size: 16px;
}

.modal_txt:nth-child(2) {
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.modal_input {
  width: 429px;
  padding: 8px 0;
  margin-bottom: 5px;
  appearance: none;
}

.modal_input::-ms-expand {
  display: none;
}

.modal_btn {
  width: 198px;
  height: 42px;
  margin: 64px auto 0;
  display: block;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
  .modal_btn {
    margin: 34px auto 0;
  }
}

.modal_bgc {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  transition: .3s;
}

.modal_bgc.in {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
