// サイトコンテンツスタイル用
// index.html用

/****************************************:

共通

*****************************************:*/

.__btn {
  border: 1px solid $cBlack;
}

/****************************************:

header

*****************************************:*/

.header {
  width: 100%;
  padding: 20px;
  color: $cWhite;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  transition: .3s;

  &_left{
    width: 90%;
    display: flex;
    align-items: center;

    @include tab{
      justify-content: space-between;
    }
  }

  &_ttl {
    width: 200px;
    height: 40px;
    margin-right:120px;

    @include tab{
      margin-right: 0px;
    }
  }

  &_logo-b {
    display: none;
  }

}

.header_nav {

  &_list {
    display: flex;
  }

  &_link {
    margin-right: 30px;
    padding: 10px;
    color: $cWhite;

    @include tab {
      font-size: 13px;
    }
  }

  &_link:last-of-type {
    margin-right: 0;
  }
}

.reserve {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  &_link {
    width: 170px;
    padding: 19px;
    @include rem(16);
    line-height: 0;
    letter-spacing: 0;
    background: $cOcher;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

// ヘッダー固定時
.header {

  &.fix {
    height: 80px;
    margin: 0;
    font-weight: bold;
    background: $cWhite;
    z-index: 999;
    position: fixed;
  }

  &_logo-w.fix {
    display: none;
  }

  &_logo-b.fix {
    display: block;
  }

  &_nav_link.fix {
    color: $cBlack;
  }
}

/****************************************:

fv

*****************************************:*/


//========== ズームアップスライドショー ============
.main_imgBox {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main_img {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  animation: anime 15s 0s infinite;
  -webkit-animation: anime 15s 0s infinite;
}

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

@keyframes anime {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  34% {
    opacity: 1;
  }

  51% {
    opacity: 0;
    z-index: 3;
    transform: scale(1.05);
  }

  100% {
    opacity: 0
  }
}

// =========================

.fv {
  width: 100%;
  height: 100vh;
  @include rem(34);
  color: $cWhite;
  position: relative;

&_ttl{
  writing-mode: vertical-lr;
  position: absolute;
  top: 282px;
  right: 508px;
  z-index: 10;

  @include tab{
    right:180px;
  }
}

&_ttl2{
  writing-mode: vertical-lr;
  position: absolute;
  top: 282px;
  right: 608px;
  z-index: 10;

  @include tab{
    right: 280px;
  }
}

}


.fv_under {
  margin: 0 0 106px auto;
  background: url("../img/common/bg.jpg")center / cover no-repeat;

  & .section_inner {
    height: 681px;
    writing-mode: vertical-rl;
  }

  &_ttl {
    margin: 64px 101px 0 33px;
    line-height: 1em;
    letter-spacing: 0;
    @include rem(28);

    @include tab{
      @include rem(20);
      margin-left: 20px;
    }
  }

  &_ttl2 {
    margin: 149px 0 0 0;
    line-height: 1em;
    letter-spacing: 0;
    @include rem(28);

    @include tab {
      @include rem(20);
    }
  }

  &_wrap {
    margin: 150px 100px 0 308px;
  }

  &_txt.fv_txt,
  &_txt2.fv_txt,
  &_txt3.fv_txt {
    margin-left: 118px;
    line-height: 1.73em;
    letter-spacing: 0;
    @include rem(16);

    @include tab {
      @include rem(12);
      margin-left: 50px;
    }
  }

  &_txt4 {
    margin-bottom: 120px;
    text-align: right;
  }

  &_list {
    list-style: none;
  }
}

/****************************************:

section

*****************************************:*/

.top_about {
  margin-bottom: -44px;

  &_box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 122px;

    @include tab {
      display: block;
    }
  }

  &_box:nth-child(even) {
    flex-direction: row-reverse;
  }

  &_left {
    width: 55%;
    height: 545px;

    @include tab {
      width: 100%;
    }
  }

  &_right {
    width: 30%;
    margin: 32px 0 0 137px;
    letter-spacing: 0;

    @include tab {
      width: 80%;
      margin: 0 auto;
    }
  }

  &_ttl {
    margin-bottom: 50px;
    @include rem(36);
    line-height: 1.5em;
  }

  &_txt {
    margin-bottom: 75px;
    @include rem(16);
    line-height: 2em;

    @include tab{
      @include rem(15);
    }
  }

  &_link {
    padding: 20px 40px;
    display: inline-block;
    line-height: 20px;

  }

}


/****************************************:

section

*****************************************:*/

.plan {
  height: 775px;
  background: url(../../img/common/bg02.jpg) center / cover;

  @include tab {
    height: 2100px;
  }

  &_logo {
    height: 40px;
    width: 40px;
    margin: 0 auto 60px;
    padding-top: 60px;
  }

  &_box {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;

    @include tab {
      display: block;
    }
  }
  
  &_boxItem {
    @include tab {
      width: 600px;
      margin: 0 auto;


    }
  }

  &_boxImg {
    height: 209px;
    width: 331px;
    margin-bottom: 32px;
    overflow: hidden;

    @include tab {
      width: 100%;
      height: 350px;
    }
  }

  &_ttl {
    margin-bottom: 36px;
    @include rem(20);
    line-height: 1.6;

    @include tab {
      text-align: center;
      @include rem(19);
    }
  }

  &_txt {
    line-height: 2;

    @include tab {

      margin-bottom: 30px;
      @include rem(16);
      text-align: center;
    }
  }

}



/****************************************:

section

*****************************************:*/


.area ul {
  display: none;
}

.area ul.show {
  display: block;
}


.notice {
  height: 697px;
  margin-top: 60px;
  margin-bottom: 75px;

  @include tab {
    height: 1100px;
  }

  &_logo {
    height: 40px;
    width: 40px;
    margin: 0 auto 20px;

  }

  &_sales {
    display: flex;
    justify-content: center;

    &_txt {
      margin-top: 46px;
      margin-right: 53px;
      margin-bottom: 64px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_box {

    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    height: 130px;
    width: 570px;
    margin-left: 10px;
    margin-bottom: 60px;
    display: flex;

    @include tab {
      margin-bottom: 20px;
    }

    &_img {
      height: 100px;
      width: 103px;
    }
  }

  &_textbox {
    margin-left: 30px;

    &_date {
      margin-bottom: 10px;
    }
  }

}


/****************************************:

section

*****************************************:*/

.access {
  height: 1381px;
  background: url(../../img/common/bg.jpg) center /cover;

  &_logo {
    height: 40px;
    width: 40px;
    margin: 0 auto 20px;
  }

  &_box {
    margin-top: 66px;
    display: flex;
  }

  &_imgbox {
    height: 370px;
    width: 656px;

    @include tab {
      margin-left: 20px;
    }

  }

  &_textbox {
    margin-top: 20px;
    margin-left: 83px;
    text-align: left;
  }

  &_txt {
    margin-bottom: 24px;
    font-weight: bold;
  }

  &_map {
    display: block;
    margin: 69px auto 110px;

    @include tab {
      width: 700px;
    }
  }

}

/****************************************:

footer

*****************************************:*/