// サイトコンテンツスタイル用
// menu.html用



/****************************************:

fv

*****************************************:*/

.common .section_inner {
    @include pc_tab {
        max-width: 715px;
    }

    @include tab {
        max-width: 677px;
    }

}

.common {

    &_fv {
        width: 100%;
        height: 580px;
        margin-bottom: 37px;
        background: url(../img/section-menu/menu-header.jpg) center / cover;
        position: relative;

        @include tab {
            width: 100%;
        }

        @include sp {
            width: 100%;
        }

    }




    &_ttl {
        color: $cWhite;
        @include rem(34);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_top_txt {
        margin-bottom: 78px;
        @include rem(16);
        text-align: center;

        @include tab {
            @include rem(16);
        }

        @include sp {
            margin-bottom: 100px;
            @include rem(11);
        }
    }

    &_box {
        margin-bottom: 84px;

        @include pc_tab {
            width: 715px;
            margin: 0 auto 100px;
        }

        @include sp {
            text-align: center;
            margin-bottom: 0;
        }
    }



    &_img {
        width: 525px;
        height: 300px;
        overflow: hidden;

        @include pc_tab {
            width: 380px;
            height: 280px;
        }


        @include tab {
            width: 50%;
        }

        @include sp {
            width: 100%;
            height: 250px;
        }
    }

    &_txtBox {
        width: 813px;
        height: 381px;
        margin: -243px 0 0 367px;
        padding-top: 60px;
        background: url(../img/common/bg.jpg);

        @include pc_tab {
            width: 439px;
            height: 300px;
            padding: 17px 18px 26px 123px;
            margin: -200px 0 0 276px;
        }

        @include tab {
            width: 400px;
            height: 320px;
            margin: -160px 0 0 280px;
        }

        @include sp {
            width: 100%;
            height: 250px;
            margin: 0;
            padding: 0;
        }
    }

    &_txtBox_ttl {
        margin-left: 238px;
        margin-bottom: 52px;
        @include rem(24);
        line-height: 2;

        @include pc_tab {
            padding: 0;
            margin-left: 0px;
            margin-bottom: 20px;
            @include rem(21)
        }

        @include tab {
            @include rem(20);
            margin-left: 100px;
            margin-bottom: 20px;
            padding-top: 20px;
        }

        @include sp {
            @include rem(18);
            margin: 0;
        }
    }

    &_txtBox_txt {
        width: 576px;
        margin-left: 238px;
        @include rem(16);
        line-height: 2;

        @include pc_tab {
            width: 300px;
            padding: 0;
            margin-left: 0px;
            @include rem(12);
        }

        @include tab {
            width: 250px;
            margin-left: 100px;
            @include rem(14);
            line-height: 1.5;
        }

        @include sp {
            width: 90%;
            margin: 0 auto;
            @include rem(10);
            line-height: 2;
        }
    }
}



._img_wrapper {
    margin: 0 0 0 auto;

    @include tab {
        margin: 0 0 0 380px;
    }

    @include sp {
        height: 240px;
        margin: 0;
    }

}

._txt_wrapper {
    margin: -242px auto 0 0;
    padding: 30px 274px 165px 0;

    @include pc_tab {
        margin: -210px auto 0 0;
        padding: 28px 124px 37px 30px;
    }

    @include tab {
        margin: -160px auto 0 0;
        padding: 0 150px 165px 0;
    }

    @include sp {
        margin: 0;
        padding: 0 15px 165px 0;
    }
}

._txtBox_ttl_wrap {
    margin-left: 60px;

    @include pc_tab {
        margin-left: 0;
    }

    @include tab {
        margin-left: 30px;
    }

    @include sp {
        margin: 0;
    }
}





._txtBox_txt_wrap {
    margin-left: 60px;

    @include pc_tab {
        margin-left: 0;
    }

    @include tab {
        margin-left: 30px;
    }

    @include sp {
        margin: 0 auto;
    }
}



/****************************************:

section

*****************************************:*/