// サイトコンテンツスタイル用
// menu.html用



/****************************************:

fv

*****************************************:*/

.common {

    &_fv {
        width: 100%;
        height: 580px;
        margin-bottom: 37px;
        background: url(../img/section-menu/menu-header.jpg) center / cover;
        position: relative;
        @include tab {
            width: 100%;
        }
    }




    &_ttl {
        color: $cWhite;
        @include rem(34);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_pan {
        margin-bottom: 97px;
    }

    &_top_txt {
        margin-bottom: 78px;
        @include rem(16);
        text-align: center;
        @include tab {
            @include rem(16);
        }
    }

    &_box {
        margin-bottom: 84px;
    }



    &_img {
        width: 525px;
        height: 300px;
        overflow: hidden;

        @include tab {
            width: 50%;
        }
    }

    &_txtBox {
        width: 813px;
        height: 381px;
        margin: -243px 0 0 367px;
        background: url(../img/common/bg.jpg);
        @include tab {
            width: 450px;
            height: 270px;
            margin: -160px 0 0 317px;
        }
    }

    &_txtBox_ttl {
        margin-left: 238px;
        margin-bottom: 52px;
        padding-top: 60px;
        @include rem(24);
        line-height: 2;
        @include tab {
            @include rem(20);
            margin-left: 100px;
            margin-bottom: 20px;
            padding-top: 30px;
        }
    }

    &_txtBox_txt {
        margin-left: 238px;
        @include rem(16);
        line-height: 2;
        @include tab {
            width: 320px;
            margin-left: 100px;
            @include rem(15);
            line-height: 1.5;
        }
    }
}

._img_wrapper {
    margin: 0 0 0 auto;
    @include tab {
        margin: 0 0 0 380px;
    }
}

._txt_wrapper {
    margin: -242px auto 0 0;
    padding: 0 274px 165px 0;
    @include tab {
        margin: -160px auto 0 0;
        padding: 0 150px 165px 0;
    }
}

._txtBox_wrap {
    margin-left: 60px;
    @include tab {
        margin-left: 30px;
    }
}



/****************************************:

section

*****************************************:*/







