// サイトコンテンツスタイル用




/****************************************:

fv

*****************************************:*/

.mb52 {
  margin-bottom: 52px;

  @include pc_tab {
    margin-bottom: 30px;
  }

  @include tab {
    margin-bottom: 35px;
  }

  @include sp{
    margin-bottom: 20px;
  }
}

.ml60 {
  margin-left: 60px;

  @include pc_tab {
    margin-left: 0;

  }

  @include sp {
    margin: 0 auto;
  }
}

.pr19 {
  padding-right: 19px;
}

.note {
  width: 515px;
  @include rem(14);
  line-height: 1.5;

  @include pc_tab {
    width: 300px;
    @include rem(12);
  }

  @include tab {
    width: 300px;
    @include rem(12);
  }

  @include sp {
    width: 300px;
    @include rem(10);
    text-align: left;
    margin-top: 20px;
  }
}

.oheya {

  &_fv {
    width: 100%;
    height: 580px;
    margin-bottom: 37px;
    background: url(../../img/section-oheya/oheya-header.jpg) center / cover;
    position: relative;
  }

  &_ttl {
    color: $cWhite;
    @include rem(34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}


/****************************************:

section

*****************************************:*/