// サイトコンテンツスタイル用



/****************************************:

header下層ページデザイン修正

*****************************************:*/







/****************************************:

fv

*****************************************:*/

.mb52 {
  margin-bottom: 52px;
}

.note {
  @include rem(14);
  line-height: 1.5;

}

.oheya {

  &_fv {
    width: 100%;
    height: 580px;
    margin-bottom: 37px;
    background: url(../../img/section-oheya/oheya-header.jpg) center / cover;
    position: relative;
  }

  &_common_txtBox_txt_note {
    margin-left: 238px;
  }
}


/****************************************:

section

*****************************************:*/